/* Forces a custom color on hover for header menu items and forces a hover bottom border color */

/*
.main-header-menu a:hover {
color: #003b7a !important;
border-bottom: 2px solid;
border-bottom-color: #adadad;
}
*/

/* Adds styling to "Contact" item in menu */

/*
.menu-highlight {
color: #1f3e77;
background: transparent !important;
border-color: #1f3e77;
border-style: solid;
border-width: 2px;
border-radius: 30px;
padding: 0px 7px;
transition: all 0.2s linear;
line-height:45px;
}
 
.menu-highlight a {
 color:#1f3e77
}
 
.menu-highlight:hover {
color: #1f3e77;
background: #ffffff !important;
border-color: #1f3e77;
}
 
li.menu-highlight:hover a {
 color:#1f3e77;
}
 
.menu-highlight:active {
border-radius: 22px;
}
*/

/* Adds underline styling to active page selected in menu bar */

/*
.current_page_item a, .current-menu-item a {
    border-bottom: 4px solid;
}
*/

/* Changes color of Woocommerce quick view bar */

.ast-quick-view-text {
  background: #1f3e7797 !important;
}

/* Adds custom CSS for the jQuery highlight menu snippet */

/* a.ds-menu-active .et_slide_in_menu_container .et_mobile_menu a.ds-menu-active {
  color: #fe437d !important;
} */

/* Adds hover color for specific menu */

.bl-top a:hover {
  color: #003b7a !important;
  border-bottom: 2px solid;
  border-bottom-color: #adadad;
}
